html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #50c5f3;
}

.form-ping {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
}

.form-ping .checkbox {
  font-weight: 400;
}

.form-ping .form-floating:focus-within {
  z-index: 2;
}


